.cryptoMainCont {
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  /* background: var(--bgCol1);
  box-shadow: 6px 6px 19px var(--boxShd4), -6px -6px 19px var(--boxShd1); */
  background: linear-gradient(145deg, var(--bgCol2), var(--bgCol1));
  box-shadow: 5px 5px 10px var(--boxShd2), -5px -5px 10px var(--boxShd1);
  border-radius: 20px;
  /* padding: 1rem; */
  color: var(--fontCol1);
}
.cryptoImgCont {
  margin-left: 1rem;
}
.cryptoImg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(145deg, var(--bgCol1), var(--boxShd2));
  box-shadow: 5px 5px 12px var(--boxShd4), -5px -5px 12px var(--boxShd1);
  /* transform: rotate(25deg); */
  animation: loadRotate 1s ease 1 normal;
}
@keyframes loadRotate {
  from {
    transform: rotate(27deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.cryptoInfoCont {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.8rem;
}
.cryptoTitle {
  font-size: 1.5rem;
  font-weight: 600;
}
.cryptoSymbol {
  font-size: 1.2rem;
  font-weight: 500;
}
.cryptoInfoSm {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
  font-size: 0.7rem;
  color: var(--fontCol1);
}
.cryptoPrice {
  font-size: 1.05rem;
  font-weight: 500;
}
.curCurrency {
  font-size: 0.8rem;
  color: var(--fontColLight);
}
.dropdown {
  /* border: 2px solid red; */
  width: 30%;
  border: none;
  /* background: var(--bgCol1); */

  box-shadow: 5px 5px 10px var(--boxShd2), -5px -5px 10px var(--boxShd1);
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: var(--fontHead);
  font-weight: 400;
  color: var(--fontColGray);
}

.errorCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
}
.errorTitle {
  font-size: 1.5rem;
}
.errorEmoji {
  font-size: 4rem;
  filter: grayscale(70);
}
