#nav_cont {
  height: 1rem;

  border-radius: 9px;
  /* background: #f2f2f2; */
  background: var(--bgCol1);
  box-shadow: -5px 5px 10px var(--boxShd2), 5px -5px 10px var(--boxShd1);
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .sideRoot {
  border: 10px solid rgb(114, 3, 241);
} */

.sideContent {
  margin-top: 1rem;
  margin-left: 0.8rem;
  border: 5px solid rgb(80, 248, 13);
  z-index: -1;
}
#sideCont {
  display: none;
}
.sidebarMain {
  width: 40%;
  border: 5px solid rgb(13, 29, 248);
  margin: auto;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
}
#menuIconsRightCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 38%;
}
#loggedIn_cont {
  /* border: 1px solid rebeccapurple; */
  width: 62%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: var(--fontCol1);
  position: relative;
}
#dropDown {
  display: none;
  position: absolute;
  background-color: var(--bgCol2);
  min-width: 100%;
  box-shadow: -5px 5px 10px var(--boxShd2), 5px -5px 10px var(--boxShd1);
  padding: 3px 10px 3px 10px;
  z-index: 1;
  top: 3rem;
  border-radius: 20px;
}
#loggedIn_cont:hover #dropDown {
  display: block;
}
#loggedInName {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 0.3rem;
}
.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  background: var(--bgCol2);
}
.navIcons {
  color: var(--IconColor1);
  cursor: pointer;
  font-size: 1.5rem;
}
