.newsCont {
  background: var(--bgCol1);
  box-shadow: 6px 6px 19px var(--boxShd4), -6px -6px 19px var(--boxShd1);
  border-radius: 20px;
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.newsImgCont {
  width: 98%;
  border-radius: 20px 20px 0 0;
  padding: 0.2rem;
}
.newsImg {
  width: 100%;
  height: 12rem;
  display: block;
  margin: auto;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
  box-shadow: 4px 6px 17px -5px var(--boxShdBlk2);
}
.newsDataCont {
  /* width: 98%; */
  /* border: 1px solid green; */
  font-size: 0.8rem;
  padding: 0.9rem;
}
.newsTitle {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: var(--fontCol1);
}
.newsDesc {
  /* width: 100%; */
  font-size: calc(11px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 500;
  color: var(--fontColLight);
}
.newsDataSmCont {
  display: flex;
  width: 80%;
  /* border: 1px solid red; */
  justify-content: space-between;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: var(--fontColGray);
}
.newsSkeletonCont {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
