#sideBarCont {
  border: 0.1rem solid rgba(0, 128, 0, 0.342);
  border-radius: 0 0 20px 20px;
  width: 38%;
  background: var(--bgCol1);
  color: var(--fontCol1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 4rem;
  box-shadow: -5px 5px 10px var(--boxShd2), 5px -5px 10px var(--boxShd1);
  z-index: 1;
  padding: 0.3rem;
}
.listMainCont {
  background: var(--bgCol1);
}
.sideBarList {
  list-style: none;
  text-align: left;
  padding-left: 0.5rem;
}
.sideBarListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.4rem;
  color: var(--IconColor1);
  cursor: pointer;
}
.settingName {
  margin-left: 0.7rem;
  color: var(--fontColLight);
}
.signatureDiv,
.subList {
  /* margin: auto; */
  border-top: 0.5px solid #8659591e;
}
.titleFirst {
  font-size: 0.8rem;
  text-align: center;
}
.name {
  font-size: 0.8rem;
  font-weight: 700;
  color: #dd1a5b;
  cursor: pointer;
}
.titleFirst span {
  color: #dd1a2a;
}

/* ======================================================== */
/* RESPONSIVE */
/* ========================================================= */

@media screen and (min-width: 640px) {
  #sideBarCont {
    position: static !important;
    max-width: 20%;
    z-index: 0;
    border: none;
  }
}
